body {
    background-color: #dbdbdb;
}

.fullProfileImage {
    max-height: 420px;
}

.workLinks li {
    width: 50%;
    float: left;
}

.personalLinks li {
    width: 33%;
    float: left;
}

.work {
    background-color: #FFFFFF;
    padding: 5px;
    margin-bottom: 10px;
}

.boxShadow {
    box-shadow: 5px 5px #000000;
    border-radius: 5px;
}

.blogPost {
    background-color: #FFFFFF;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.blogTitle {
    text-align: center;
}

.blogDate {
    text-align: center;
    width: 100%;
}

.movieResult {
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.movieResult img {
    max-height: 210px;
    margin: 5px;
}

.movieSearchIntro {
    text-align: center;
}

#movieForm {
    margin: 0 auto;
    width: 37%;
}