.fullProfileImage {
    max-height: 420px;
}

.workLinks li {
    width: 50%;
    float: left;
}

.personalLinks li {
    width: 33%;
    float: left;
}

.work {
    background-color: #FFFFFF;
    padding: 5px;
    margin-bottom: 10px;
}

.boxShadow {
    box-shadow: 5px 5px #000000;
    border-radius: 5px;
}
