<div class="container-fluid">
    <div id="CarouselWrapper" class="container-fluid">
        <div class="slider">
            <div class="slide">
                <img src="~/images/slideImages/slide1.png" alt="slide 1" />
            </div>
            <div class="slide">
                <img src="~/images/slideImages/slide2.png" alt="slide 2" />
            </div>
            <div class="slide">
                <img src="~/images/slideImages/slide3.png" alt="slide 3" />
            </div>
            <div class="slide">
                <img src="~/images/slideImages/slide4.png" alt="slide 4" />
            </div>
            <div class="slide">
                <img src="~/images/slideImages/slide5.png" alt="slide 5" />
            </div>
            <div class="slide">
                <img src="~/images/slideImages/slide6.png" alt="slide 6" />
            </div>
            <div class="slide">
                <img src="~/images/slideImages/slide7.png" alt="slide 7" />
            </div>
        </div>
    </div>
</div>